
[contenteditable] {
    outline: none;
}

#source {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 660px;
    height: 500px;
    background: #555;
    color: #fff;
    background: #000;
}

#source nav {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
    background: rgb(75, 9, 9);
}

#source nav button {
    min-width: 80px;
    height: 24px;
    margin: 4px;
}

#code {
    display: block;
    position: absolute;
    top: 32px;
    left: 50px;
    right: 0px;
    bottom: 0px;
    padding: 8px;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    line-height: 20px;
    font-size: 16px;
}

#lineNumbers {
    display: block;
    position: absolute;
    top: 32px;
    left: 0px;
    bottom: 0px;
    width: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 2px;
    box-sizing: border-box;
    overflow: hidden;
    background: #000;
    color: #777;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    text-align: right;
    line-height: 20px;
    font-size: 12px;
}

#lineNumbers div {
    display: block;
    margin: 0;
    padding: 0;
    height: 20px;
    box-sizing: border-box;
    padding-top: 1px;
}

#output {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 660px;
    height: 500px;
}

#output svg.canvas {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 20px;
    right: 0;
}

.ruler {
    position: absolute; 
    left: 0;
    height: 20px;
    width: 660px;
}

#xRuler {
    top: 0;
    transform: translate(20px, 0px);
}

#yRuler {
    top: 480px;
    left: -640px;
    transform: rotate(90deg) translate(-140px, -320px);
}

#console {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 500px;
    width: 100%;
    border-top: ridge 4px #111;
    background: #bbb;
    padding: 8px;
    overflow: auto;
    box-sizing: border-box;
}

#console div {
    font-size: 14px;
    line-height: 16px;
    border-bottom: solid 1px #ddd;
}

#console div span {
    display: inline-block;
    vertical-align: middle;
}

#console div .lineNumber {
    width: 32px;
    text-align: right;
    color: #777;
    margin-right: 8px;
}

#console div .message {
    color: #000;
}